html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --primary-text-color: #6e747a;
    --secondary-text-color: #5375a9;
    --secondary-text-highlight-color: #4a7ae2;
    --subtle-bold-color: #595959;
    --bg-color: #FCFCFC;
    --anchor-color: #bd5d38;
    --highlight-color: #824027;

    --triplebyte-color: #4a90e2;
    --triplebyte-highlight-color: #4a7ae2;
}

@media (prefers-color-scheme: dark) {
    * {
        --primary-text-color: #cccccc;
        --secondary-text-color: #91aeec;
        --secondary-text-highlight-color: #668fea;
        --subtle-bold-color: #edebeb;
        --bg-color: #141414;
        --anchor-color: #bd5d38;
        --highlight-color: #e07043;
    }
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.fade-in {
    -webkit-animation: fade-in 1.5s;
    -moz-animation: fade-in 1.5s;
    -ms-animation: fade-in 1.5s;
    -o-animation: fade-in 1.5s;
    animation: fade-in 1.5s;
}

.fast-fade-in {
    -webkit-animation: fade-in 0.75s;
    -moz-animation: fade-in 0.75s;
    -ms-animation: fade-in 0.75s;
    -o-animation: fade-in 0.75s;
    animation: fade-in 0.75s;
}

body {
    font-size: 18px;
    font-family: Times, sans-serif;
    color: var(--primary-text-color);
    line-height: 1.4;
    background: var(--bg-color);
    max-width: 42rem;
    position: relative;
    margin: 0 auto;
}

header {
    padding: 3vw 0;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    z-index: 2;
}

header h1 {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 1.5em;
    font-weight: 700;
    flex-grow: 1;
    white-space: nowrap;
}

header h1 a,
header h1 a:hover,
header h1 a:focus,
header h1 a:active,
nav a,
nav a:hover,
nav a:focus,
nav a:active {
    color: var(--subtle-bold-color);
    border: none;
}

nav a:not(:last-of-type) {
    margin-right: 1.5vw;
}

.main {
    padding: calc(3.5em + 4vw) 0 0;
    position: absolute;
    top: 0;
    min-height: 100vh;
    width: 100%;
    background: var(--bg-color);
}

@media only screen and (max-width: 680px) {
    .main {
        padding: calc(3.5em + 7vw) 0 0;
    }
}

main > section {
    display: none;
}

section#home {
    display: block;
    animation-name: fade-in;
    animation-duration: 250ms;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    margin: calc(-1 * 1vw) 0 0;
}

:target ~ section#home {
    display: none;
    animation-name: fade-in;
    animation-duration: 250ms;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

#home:target ~ section#home,
#skills:target ~ section#skills,
#projects:target ~ section#projects,
#contact:target ~ section#contact {
    display: block;
    animation-name: fade-in;
    animation-duration: 250ms;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

main:has(#contact:target) ~ footer {
    display: none;
}

#home:target ~ section#home {
    margin: calc(-1 * 1vw) 0 0;
}

footer {
    background: var(--bg-color);
    padding: 5vh 0;
}

section > h2 {
    font-size: 1.1em;
    font-weight: 500;
    margin: 0 0 1em 0;
    color: var(--subtle-bold-color);
}

h3,
h4,
h5,
h6 {
    font-weight: 200;
    margin: 0 0 1em 0;
    color: var(--subtle-bold-color);
}

p, ul, ol, article {
    max-width: 60ch;
    margin-bottom: 1.5em;
}

a {
    text-decoration: none;
    color: var(--anchor-color);
}

a:hover,
a:focus,
a:active {
    border-bottom: 1px solid;
    color: var(--highlight-color);
}

a.undecorated:hover,
a.undecorated:focus,
a.undecorated:active {
    border-bottom: none;
}

img, svg, video, audio {
    display: block;
    max-width: 100%;
    height: auto;
    fill: currentColor;
}
  
li {
    margin-bottom: .2em;
}
  
ul, ol {
    padding-left: 2ch;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 2em 0 1.5em 0;
}
  
figure figcaption {
    margin: 0.8em 0 0 0;
    font-size: .85em;
    opacity: .7;
}

figcaption:has(a) {
    opacity: 1;
}

.display-list {
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    justify-items: center;
    align-items: center;
    align-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33.33%, 1fr));
}

.display-list li{
    grid-column: span 1;
}

.icon {
    font-size: 1.5em;
    margin: .75rem;
}

.icon-link {
    /* color: var(--subtle-bold-color); */
    color: var(--secondary-text-color);
}

.icon-link:hover,
.icon-link:focus,
.icon-link:active {
    /* color: var(--highlight-color); */
    color: var(--secondary-text-highlight-color);
}

.spacially-emphasized {
    margin-bottom: 3em;
}

.spacially-deemphasized {
    margin-top: -0.5em;
    margin-bottom: 1em;
}

.specification {
    font-style: italic;
}

.weightily-emphasized {
    font-weight: bold;
}

.weightily-deemphasized {
    font-weight: 100;
}

.secondary {
    color: var(--secondary-text-color);
}

a.contact {
    font-size: 1.1rem;
}

#main-img {
    margin-top: 2em;
    padding-right: 4em;
}

#walnut-tooltip {
    position: relative;
    display: inline-block;
}

#walnut-tooltip #walnut-tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 135%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

#walnut-tooltip #walnut-tooltip-text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

#walnut-tooltip:hover #walnut-tooltip-text {
    visibility: visible;
    opacity: 1;
}

#triplebyte-icon-link {
    color: var(--triplebyte-color);
}

#triplebyte-icon-link:hover,
#triplebyte-icon-link:focus,
#triplebyte-icon-link:active {
    color: var(--triplebyte-highlight-color);
}



@media only screen and (max-width: 680px) {
    body {
        font-size: 16px;
        margin: 3vh;
    }
}
  
@media only screen and (max-width: 540px) {
    nav {
        width: 100%;
    }
}
